<a href="https://colab.research.google.com/github/tanaymukherjee/Working-With-Python-Functions/blob/main/Working_with_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with functions

----

### 1. Calculates the date of n days from the given date

- Use datetime.timedelta and the + operator to calculate the new datetime.datetime value after adding n days to d.
- Omit the second argument, d, to use a default value of datetime.today().

In [1]:
from datetime import datetime, timedelta

def add_days(n, d = datetime.today()):
  return d + timedelta(n)

In [3]:
from datetime import date

add_days(5, date(2020, 10, 25))

datetime.date(2020, 10, 30)

In [4]:
add_days(-5, date(2020, 10, 25))

datetime.date(2020, 10, 20)

### 2. Calculates the date of n days ago from today

- Use datetime.date.today() to get the current day.
- Use datetime.timedelta to subtract n days from today's date.

In [5]:
from datetime import timedelta, date

def days_ago(n):
  return date.today() - timedelta(n)

In [6]:
days_ago(5) ## today's date - 12/24/2020

datetime.date(2020, 12, 19)

### 3. Calculates the date of n days from today

- Use datetime.date.today() to get the current day.
- Use datetime.timedelta to add n days from today's date.

In [11]:
from datetime import timedelta, date

def days_from_now(n):
  return date.today() + timedelta(n)

In [12]:
days_from_now(5)

datetime.date(2020, 12, 29)

### 4. Calculates the day difference between two dates

- Subtract start from end and use datetime.timedelta.days to get the day difference.

In [7]:
def days_diff(start, end):
  return (end - start).days

In [9]:
from datetime import date

days_diff(date(2020, 12, 24), date(2020, 12, 20))

-4

In [10]:
days_diff(date(2020, 12, 20), date(2020, 12, 22))

2

### 5. Checks if the given date is a weekday

- Use datetime.datetime.weekday() to get the day of the week as an integer.
- Check if the day of the week is less than or equal to 4.
- Omit the second argument, d, to use a default value of datetime.today().

In [14]:
from datetime import datetime

def is_weekday(d = datetime.today()):
  return d.weekday() <= 4

In [17]:
from datetime import date

is_weekday(date(2020, 12, 25))

True

In [18]:
is_weekday(date(2020, 12, 26))

False

### 6. Checks if the given date is a weekend

- Use datetime.datetime.weekday() to get the day of the week as an integer.
- Check if the day of the week is greater than 4.
- Omit the second argument, d, to use a default value of datetime.today().

In [19]:
from datetime import datetime

def is_weekend(d = datetime.today()):
  return d.weekday() > 4

In [20]:
from datetime import date

is_weekend(date(2020, 12, 25))

False

In [23]:
is_weekend(date(2020, 10, 24))

True

### 7. Checks if all elements in a list are equal

- Use set() to eliminate duplicate elements and then use len() to check if length is 1.

In [24]:
def all_equal(lst):
  return len(set(lst)) == 1

In [25]:
all_equal([1, 2, 3, 4, 5, 6])

False

In [26]:
all_equal([1, 1, 1, 1])

True

### 8. Checks if all the values in a list are unique

- Use set() on the given list to keep only unique occurences.
- Use len() to compare the length of the unique values to the original list.

In [27]:
def all_unique(lst):
  return len(lst) == len(set(lst))

In [28]:
x = [1, 2, 3, 4, 5, 6]
y = [1, 2, 2, 3, 4, 5]

In [29]:
print(all_unique(x))
print(all_unique(y))

True
False

### 9. Generates a list of numbers in the arithmetic progression starting with the given positive integer and up to the specified limit

- Use range() and list() with the appropriate start, step and end values.

In [30]:
def arithmetic_progression(n, lim):
  return list(range(n, lim + 1, n))

In [32]:
arithmetic_progression(5, 50)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

### 10. Calculates the average of two or more numbers

- Use sum() to sum all of the args provided, divide by len().

In [33]:
def average(*args):
  return sum(args, 0.0) / len(args)

In [34]:
print(average(*[1, 2, 3]))
print(average(1, 2, 3))

2.0
2.0

### 11. Calculates the average of a list, after mapping each element to a value using the provided function

- Use map() to map each element to the value returned by fn.
- Use sum() to sum all of the mapped values, divide by len(lst).
- Omit the last argument, fn, to use the default identity function.

In [35]:
def average_by(lst, fn = lambda x: x):
  return sum(map(fn, lst), 0.0) / len(lst)

In [36]:
average_by([{ 'n': 4 }, { 'n': 2 }, { 'n': 8 }, { 'n': 6 }], lambda x: x['n'])

5.0

### 12. Returns the length of a string in bytes

- Use str.encode('utf-8') to encode the given string and return its length.

In [37]:
def byte_size(s):
  return len(s.encode('utf-8'))

In [38]:
byte_size('😀')

4

In [39]:
byte_size('Hello World')

11

### 13. Calculates the number of ways to choose k items from n items without repetition and without order

- Use math.comb() to calculate the binomial coefficient.

In [42]:
!pip install comb

Collecting comb
  Downloading https://files.pythonhosted.org/packages/b3/b3/5f4bc7623d9602205de36da311f316ac5357cded74769bd0d6545abef6a1/comb-0.9.10.tar.gz
Collecting cliez
  Downloading https://files.pythonhosted.org/packages/2d/d9/f3cc20dab7673dc27ea3e423f3def1674efb2bb4292bd9471b4e67a8150a/cliez-2.1.1.tar.gz
Requirement already satisfied: termcolor in /usr/local/lib/python3.6/dist-packages (from cliez->comb) (1.1.0)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from cliez->comb) (0.16.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.6/dist-packages (from cliez->comb) (5.4.8)
Building wheels for collected packages: comb, cliez
  Building wheel for comb (setup.py) ... done
  Created wheel for comb: filename=comb-0.9.10-cp36-none-any.whl size=8592 sha256=7272426d782f5727022582a9aaaf8e33c7dd1c7635f5926891db3de33b3d1179
  Stored in directory: /root/.cache/pip/wheels/87/16/89/3b19caf4c84c5838c9e47ce1d86bbee1b2e531ae3d9f18a1c8
  Building wheel for cliez (setup.py) ... done
  Created wheel for cliez: filename=cliez-2.1.1-cp36-none-any.whl size=16223 sha256=2ca0eff19401697058f2f459ad9dbe1b7a0c5a8a252777559d89fa9783ac4fc6
  Stored in directory: /root/.cache/pip/wheels/9e/d8/1a/46c3ed6b52994e9fffea2889b4948e8d902b7b8804b76f1569
Successfully built comb cliez
Installing collected packages: cliez, comb
Successfully installed cliez-2.1.1 comb-0.9.10

In [48]:
import scipy
from scipy.special import comb

def binomial_coefficient(n, k):
  return comb(n, k)

In [49]:
binomial_coefficient(8, 2)

28.0

### 14. Splits values into two groups, based on the result of the given filter list

- Use a list comprehension and zip() to add elements to groups, based on filter.
- If filter has a truthy value for any element, add it to the first group, otherwise add it to the second group.

In [50]:
def bifurcate(lst, filter):
  return [
    [x for x, flag in zip(lst, filter) if flag],
    [x for x, flag in zip(lst, filter) if not flag]
  ]

In [51]:
bifurcate(['beep', 'boop', 'foo', 'bar'], [True, True, False, True])

[['beep', 'boop', 'bar'], ['foo']]

### 15. Splits values into two groups, based on the result of the given filtering function

- Use a list comprehension to add elements to groups, based on the value returned by fn for each element.
- If fn returns a truthy value for any element, add it to the first group, otherwise add it to the second group.

In [52]:
def bifurcate_by(lst, fn):
  return [
    [x for x in lst if fn(x)],
    [x for x in lst if not fn(x)]
  ]

In [53]:
bifurcate_by(['beep', 'boop', 'foo', 'bar'], lambda x: x[0] == 'b')

[['beep', 'boop', 'bar'], ['foo']]

### 16. Returns every nth element in a list

- Use slice notation to create a new list that contains every nth element of the given list.

In [1]:
def every_nth(lst, nth):
  return lst[nth - 1::nth]

In [2]:
every_nth([1, 2, 3, 4, 5, 6], 2)

[2, 4, 6]

In [3]:
every_nth([1, 2, 3, 4, 5, 6, 7, 8, 9], 3)

[3, 6, 9]

### 17. Returns factorial of any number

- Use recursion.
- If num is less than or equal to 1, return 1.
- Otherwise, return the product of num and the factorial of num - 1.
- Throws an exception if num is a negative or a floating point number.

In [4]:
def factorial(num):
  if not ((num >= 0) and (num % 1 == 0)):
    raise Exception("Number can't be floating point or negative.")
  return 1 if num == 0 else num * factorial(num - 1)

In [5]:
factorial(8)

40320

### 18. Generates a list, containing the Fibonacci sequence, up until the nth term

- Starting with 0 and 1, use list.append() to add the sum of the last two numbers of the list to the end of the list, until the length of the list reaches n.
- If n is less or equal to 0, return a list containing 0.

In [6]:
def fibonacci(n):
  if n <= 0:
    return [0]
  sequence = [0, 1]
  while len(sequence) <= n:
    next_value = sequence[len(sequence) - 1] + sequence[len(sequence) - 2]
    sequence.append(next_value)
  return sequence

In [7]:
fibonacci(8)

[0, 1, 1, 2, 3, 5, 8, 13, 21]

### 19. Creates a dictionary with the unique values of a list as keys and their frequencies as the values

- Use collections.defaultdict() to store the frequencies of each unique element.
- Use dict() to return a dictionary with the unique elements of the list as keys and their frequencies as the values.

In [8]:
from collections import defaultdict

def frequencies(lst):
  freq = defaultdict(int)
  for val in lst:
    freq[val] += 1
  return dict(freq)

In [9]:
frequencies(['a', 'b', 'a', 'c', 'a', 'a', 'b'])

{'a': 4, 'b': 2, 'c': 1}

### 20. Retrieves the value of the nested key indicated by the given selector list from a dictionary or list

- Use functools.reduce() to iterate over the selectors list.
- Apply operator.getitem() for each key in selectors, retrieving the value to be used as the iteratee for the next iteration.

In [11]:
from functools import reduce 
from operator import getitem

def get(d, selectors):
  return reduce(getitem, selectors, d)

In [12]:
users = {
  'freddy': {
    'name': {
      'first': 'fred',
      'last': 'smith' 
    },
    'postIds': [1, 2, 3]
  }
}
print(get(users, ['freddy', 'name', 'last']))
print(get(users, ['freddy', 'postIds', 1]))

smith
2

### 21. Checks if all the elements in values are included in lst

- Check if every value in values is contained in lst using a for loop.
- Return False if any one value is not found, True otherwise.

In [1]:
def includes_all(lst, values):
  for v in values:
    if v not in lst:
      return False
  return True

In [2]:
includes_all([1, 2, 3, 4], [1, 4])

True

In [4]:
includes_all([1, 2, 3, 4], [1, 5])

False

### 22. Checks if the given number falls within the given range

- Use arithmetic comparison to check if the given number is in the specified range.
- If the second parameter, end, is not specified, the range is considered to be from 0 to start.

In [5]:
def in_range(n, start, end = 0):
  return start <= n <= end if end >= start else end <= n <= start

In [8]:
print(
    in_range(3, 2, 5),
    in_range(3, 4),
    in_range(2, 3, 5),
    in_range(3, 2)
    )

True True False False

### 23. Returns all the elements of a list except the last one

- Use lst[:-1] to return all but the last element of the list.

In [9]:
def initial(lst):
  return lst[:-1]

In [10]:
initial([1, 2, 3])

[1, 2]

### 24. Initializes a 2D list of given width and height and value

- Use a list comprehension and range() to generate h rows where each is a list with length h, initialized with val.
- Omit the last argument, val, to set the default value to None.

In [11]:
def initialize_2d_list(w, h, val = None):
  return [[val for x in range(w)] for y in range(h)]

In [12]:
initialize_2d_list(2, 2, 0)

[[0, 0], [0, 0]]