<a href="https://colab.research.google.com/github/tanaymukherjee/Working-With-Python-Functions/blob/main/Working_with_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with functions

----

### 1. Calculates the date of n days from the given date

- Use datetime.timedelta and the + operator to calculate the new datetime.datetime value after adding n days to d.
- Omit the second argument, d, to use a default value of datetime.today().

In [34]:
from datetime import datetime, timedelta

def add_days(n, d = datetime.today()):
  return d + timedelta(n)

In [35]:
from datetime import date

add_days(5, date(2020, 10, 25))

datetime.date(2020, 10, 30)

In [36]:
add_days(-5, date(2020, 10, 25))

datetime.date(2020, 10, 20)

### 2. Calculates the date of n days ago from today

- Use datetime.date.today() to get the current day.
- Use datetime.timedelta to subtract n days from today's date.

In [37]:
from datetime import timedelta, date

def days_ago(n):
  return date.today() - timedelta(n)

In [38]:
days_ago(5) ## today's date - 12/24/2020

datetime.date(2020, 12, 20)

### 3. Calculates the date of n days from today

- Use datetime.date.today() to get the current day.
- Use datetime.timedelta to add n days from today's date.

In [39]:
from datetime import timedelta, date

def days_from_now(n):
  return date.today() + timedelta(n)

In [40]:
days_from_now(5)

datetime.date(2020, 12, 30)

### 4. Calculates the day difference between two dates

- Subtract start from end and use datetime.timedelta.days to get the day difference.

In [41]:
def days_diff(start, end):
  return (end - start).days

In [42]:
from datetime import date

days_diff(date(2020, 12, 24), date(2020, 12, 20))

-4

In [43]:
days_diff(date(2020, 12, 20), date(2020, 12, 22))

2

### 5. Checks if the given date is a weekday

- Use datetime.datetime.weekday() to get the day of the week as an integer.
- Check if the day of the week is less than or equal to 4.
- Omit the second argument, d, to use a default value of datetime.today().

In [44]:
from datetime import datetime

def is_weekday(d = datetime.today()):
  return d.weekday() <= 4

In [45]:
from datetime import date

is_weekday(date(2020, 12, 25))

True

In [46]:
is_weekday(date(2020, 12, 26))

False

### 6. Checks if the given date is a weekend

- Use datetime.datetime.weekday() to get the day of the week as an integer.
- Check if the day of the week is greater than 4.
- Omit the second argument, d, to use a default value of datetime.today().

In [47]:
from datetime import datetime

def is_weekend(d = datetime.today()):
  return d.weekday() > 4

In [48]:
from datetime import date

is_weekend(date(2020, 12, 25))

False

In [49]:
is_weekend(date(2020, 10, 24))

True

### 7. Checks if all elements in a list are equal

- Use set() to eliminate duplicate elements and then use len() to check if length is 1.

In [50]:
def all_equal(lst):
  return len(set(lst)) == 1

In [51]:
all_equal([1, 2, 3, 4, 5, 6])

False

In [52]:
all_equal([1, 1, 1, 1])

True

### 8. Checks if all the values in a list are unique

- Use set() on the given list to keep only unique occurences.
- Use len() to compare the length of the unique values to the original list.

In [53]:
def all_unique(lst):
  return len(lst) == len(set(lst))

In [54]:
x = [1, 2, 3, 4, 5, 6]
y = [1, 2, 2, 3, 4, 5]

In [55]:
print(all_unique(x))
print(all_unique(y))

True
False

### 9. Generates a list of numbers in the arithmetic progression starting with the given positive integer and up to the specified limit

- Use range() and list() with the appropriate start, step and end values.

In [56]:
def arithmetic_progression(n, lim):
  return list(range(n, lim + 1, n))

In [57]:
arithmetic_progression(5, 50)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

### 10. Calculates the average of two or more numbers

- Use sum() to sum all of the args provided, divide by len().

In [58]:
def average(*args):
  return sum(args, 0.0) / len(args)

In [59]:
print(average(*[1, 2, 3]))
print(average(1, 2, 3))

2.0
2.0

### 11. Calculates the average of a list, after mapping each element to a value using the provided function

- Use map() to map each element to the value returned by fn.
- Use sum() to sum all of the mapped values, divide by len(lst).
- Omit the last argument, fn, to use the default identity function.

In [60]:
def average_by(lst, fn = lambda x: x):
  return sum(map(fn, lst), 0.0) / len(lst)

In [61]:
average_by([{ 'n': 4 }, { 'n': 2 }, { 'n': 8 }, { 'n': 6 }], lambda x: x['n'])

5.0

### 12. Returns the length of a string in bytes

- Use str.encode('utf-8') to encode the given string and return its length.

In [62]:
def byte_size(s):
  return len(s.encode('utf-8'))

In [63]:
byte_size('😀')

4

In [64]:
byte_size('Hello World')

11

### 13. Calculates the number of ways to choose k items from n items without repetition and without order

- Use math.comb() to calculate the binomial coefficient.

In [65]:
!pip install comb

Collecting comb
  Downloading https://files.pythonhosted.org/packages/b3/b3/5f4bc7623d9602205de36da311f316ac5357cded74769bd0d6545abef6a1/comb-0.9.10.tar.gz
Collecting cliez
  Downloading https://files.pythonhosted.org/packages/2d/d9/f3cc20dab7673dc27ea3e423f3def1674efb2bb4292bd9471b4e67a8150a/cliez-2.1.1.tar.gz
Requirement already satisfied: termcolor in /usr/local/lib/python3.6/dist-packages (from cliez->comb) (1.1.0)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from cliez->comb) (0.16.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.6/dist-packages (from cliez->comb) (5.4.8)
Building wheels for collected packages: comb, cliez
  Building wheel for comb (setup.py) ... done
  Created wheel for comb: filename=comb-0.9.10-cp36-none-any.whl size=8592 sha256=f600810400933bdff8fac9e963377191ebd8bc920934217c26f1959c8e35e625
  Stored in directory: /root/.cache/pip/wheels/87/16/89/3b19caf4c84c5838c9e47ce1d86bbee1b2e531ae3d9f18a1c8
  Building wheel for cliez (setup.py) ... done
  Created wheel for cliez: filename=cliez-2.1.1-cp36-none-any.whl size=16223 sha256=b70b03200d3c77249dea4c0d793d29e33763601b5a4e6c07c84a87bcddbfab58
  Stored in directory: /root/.cache/pip/wheels/9e/d8/1a/46c3ed6b52994e9fffea2889b4948e8d902b7b8804b76f1569
Successfully built comb cliez
Installing collected packages: cliez, comb
Successfully installed cliez-2.1.1 comb-0.9.10

In [66]:
import scipy
from scipy.special import comb

def binomial_coefficient(n, k):
  return comb(n, k)

In [67]:
binomial_coefficient(8, 2)

28.0

### 14. Splits values into two groups, based on the result of the given filter list

- Use a list comprehension and zip() to add elements to groups, based on filter.
- If filter has a truthy value for any element, add it to the first group, otherwise add it to the second group.

In [68]:
def bifurcate(lst, filter):
  return [
    [x for x, flag in zip(lst, filter) if flag],
    [x for x, flag in zip(lst, filter) if not flag]
  ]

In [69]:
bifurcate(['beep', 'boop', 'foo', 'bar'], [True, True, False, True])

[['beep', 'boop', 'bar'], ['foo']]

### 15. Splits values into two groups, based on the result of the given filtering function

- Use a list comprehension to add elements to groups, based on the value returned by fn for each element.
- If fn returns a truthy value for any element, add it to the first group, otherwise add it to the second group.

In [70]:
def bifurcate_by(lst, fn):
  return [
    [x for x in lst if fn(x)],
    [x for x in lst if not fn(x)]
  ]

In [71]:
bifurcate_by(['beep', 'boop', 'foo', 'bar'], lambda x: x[0] == 'b')

[['beep', 'boop', 'bar'], ['foo']]

### 16. Returns every nth element in a list

- Use slice notation to create a new list that contains every nth element of the given list.

In [72]:
def every_nth(lst, nth):
  return lst[nth - 1::nth]

In [73]:
every_nth([1, 2, 3, 4, 5, 6], 2)

[2, 4, 6]

In [74]:
every_nth([1, 2, 3, 4, 5, 6, 7, 8, 9], 3)

[3, 6, 9]

### 17. Returns factorial of any number

- Use recursion.
- If num is less than or equal to 1, return 1.
- Otherwise, return the product of num and the factorial of num - 1.
- Throws an exception if num is a negative or a floating point number.

In [75]:
def factorial(num):
  if not ((num >= 0) and (num % 1 == 0)):
    raise Exception("Number can't be floating point or negative.")
  return 1 if num == 0 else num * factorial(num - 1)

In [76]:
factorial(8)

40320

### 18. Generates a list, containing the Fibonacci sequence, up until the nth term

- Starting with 0 and 1, use list.append() to add the sum of the last two numbers of the list to the end of the list, until the length of the list reaches n.
- If n is less or equal to 0, return a list containing 0.

In [77]:
def fibonacci(n):
  if n <= 0:
    return [0]
  sequence = [0, 1]
  while len(sequence) <= n:
    next_value = sequence[len(sequence) - 1] + sequence[len(sequence) - 2]
    sequence.append(next_value)
  return sequence

In [78]:
fibonacci(8)

[0, 1, 1, 2, 3, 5, 8, 13, 21]

### 19. Creates a dictionary with the unique values of a list as keys and their frequencies as the values

- Use collections.defaultdict() to store the frequencies of each unique element.
- Use dict() to return a dictionary with the unique elements of the list as keys and their frequencies as the values.

In [79]:
from collections import defaultdict

def frequencies(lst):
  freq = defaultdict(int)
  for val in lst:
    freq[val] += 1
  return dict(freq)

In [80]:
frequencies(['a', 'b', 'a', 'c', 'a', 'a', 'b'])

{'a': 4, 'b': 2, 'c': 1}

### 20. Retrieves the value of the nested key indicated by the given selector list from a dictionary or list

- Use functools.reduce() to iterate over the selectors list.
- Apply operator.getitem() for each key in selectors, retrieving the value to be used as the iteratee for the next iteration.

In [81]:
from functools import reduce 
from operator import getitem

def get(d, selectors):
  return reduce(getitem, selectors, d)

In [82]:
users = {
  'freddy': {
    'name': {
      'first': 'fred',
      'last': 'smith' 
    },
    'postIds': [1, 2, 3]
  }
}
print(get(users, ['freddy', 'name', 'last']))
print(get(users, ['freddy', 'postIds', 1]))

smith
2

### 21. Checks if all the elements in values are included in lst

- Check if every value in values is contained in lst using a for loop.
- Return False if any one value is not found, True otherwise.

In [83]:
def includes_all(lst, values):
  for v in values:
    if v not in lst:
      return False
  return True

In [84]:
includes_all([1, 2, 3, 4], [1, 4])

True

In [85]:
includes_all([1, 2, 3, 4], [1, 5])

False

### 22. Checks if the given number falls within the given range

- Use arithmetic comparison to check if the given number is in the specified range.
- If the second parameter, end, is not specified, the range is considered to be from 0 to start.

In [86]:
def in_range(n, start, end = 0):
  return start <= n <= end if end >= start else end <= n <= start

In [87]:
print(
    in_range(3, 2, 5),
    in_range(3, 4),
    in_range(2, 3, 5),
    in_range(3, 2)
    )

True True False False

### 23. Returns all the elements of a list except the last one

- Use lst[:-1] to return all but the last element of the list.

In [88]:
def initial(lst):
  return lst[:-1]

In [89]:
initial([1, 2, 3])

[1, 2]

### 24. Initializes a 2D list of given width and height and value

- Use a list comprehension and range() to generate h rows where each is a list with length h, initialized with val.
- Omit the last argument, val, to set the default value to None.

In [90]:
def initialize_2d_list(w, h, val = None):
  return [[val for x in range(w)] for y in range(h)]

In [91]:
initialize_2d_list(2, 2, 0)

[[0, 0], [0, 0]]

### 25. Initializes a list containing the numbers in the specified range where start and end are inclusive with their common difference step

- Use list() and range() to generate a list of the appropriate length, filled with the desired values in the given range.
- Omit start to use the default value of 0.
- Omit step to use the default value of 1.

In [92]:
def initialize_list_with_range(end, start = 0, step = 1):
  return list(range(start, end + 1, step))

In [93]:
print(
    initialize_list_with_range(5),
    initialize_list_with_range(7, 3),
    initialize_list_with_range(9, 0, 2)
)

[0, 1, 2, 3, 4, 5] [3, 4, 5, 6, 7] [0, 2, 4, 6, 8]

### 26. Initializes and fills a list with the specified value

- Use a list comprehension and range() to generate a list of length equal to n, filled with the desired values.
- Omit val to use the default value of 0.

In [94]:
def initialize_list_with_values(n, val = 0):
  return [val for x in range(n)]

In [95]:
initialize_list_with_values(5, 2)

[2, 2, 2, 2, 2]

### 27. Returns a list of elements that exist in both lists, after applying the provided function to each list element of both

- Create a set, using map() to apply fn to each element in b.
- Use a list comprehension in combination with fn on a to only keep values contained in both lists.

In [96]:
def intersection_by(a, b, fn):
  _b = set(map(fn, b))
  return [item for item in a if fn(item) in _b]

In [97]:
from math import floor

intersection_by([2.1, 1.2], [2.3, 3.4], floor)

[2.1]

### 28. Checks if the given key exists in a dictionary

- Use the in operator to check if d contains key

In [98]:
def key_in_dict(d, key):
  return (key in d)

In [99]:
d = {'one': 1, 'three': 3, 'five': 5, 'two': 2, 'four': 4}
key_in_dict(d, 'three')

True

### 29. Creates a flat list of all the keys in a flat dictionary

- Use dict.keys() to return the keys in the given dictionary.
- Return a list() of the previous result.

In [100]:
def keys_only(flat_dict):
  return list(flat_dict.keys())

In [101]:
ages = {
  'Peter': 10,
  'Isabel': 11,
  'Anna': 9,
}
keys_only(ages)

['Peter', 'Isabel', 'Anna']

### 30. Returns the last element in a list

- Use lst[-1] to return the last element of the passed list.

In [102]:
def last(lst):
  return lst[-1]

In [103]:
last([1, 2, 3])

3

### 31. Takes any number of iterable objects or objects with a length property and returns the longest one

- Use max() with len() as the key to return the item with the greatest length.
- If multiple objects have the same length, the first one will be returned.

In [104]:
def longest_item(*args):
  return max(args, key = len)

In [105]:
longest_item('this', 'is', 'a', 'testcase')

'testcase'

In [106]:
longest_item([1, 2, 3], [1, 2], [1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

In [107]:
longest_item([1, 2, 3], 'foobar')

'foobar'

### 32. Converts a given string into a list of words

- Use re.findall() with the supplied pattern to find all matching substrings.
- Omit the second argument to use the default regexp, which matches alphanumeric and hyphens.

In [108]:
import re

def words(s, pattern = '[a-zA-Z-]+'):
  return re.findall(pattern, s)

In [109]:
words('I love Python!!')

['I', 'love', 'Python']

In [110]:
words('python, javaScript & coffee')

['python', 'javaScript', 'coffee']

In [111]:
words('build -q --out one-item', r'\b[a-zA-Z-]+\b')

['build', 'q', 'out', 'one-item']